.mailBox-upper-header {
    grid-area: header;
    align-content: center;
    /* margin: 4px; */
    /* text-align: center; */
    /* border-style: ridge; */
    /* min-height: 40px; */
    /* background-color: #d02222; */

}

.mailBox-upper-header-img {
    text-align: left;
    /* margin: 4px; */

    /* margin-left: 40px; */
    background-color: #eeeeee;
    /* background-color: #d02222; */
}

.mailBox-secondary-header {
    grid-area: buttons_header;
    /* background-color: #eeffee; */
    background-color: #fcfcfc;
    border-radius: 15px 15px 0 0;
    /* min-height: 40px; */

    /* border-color: black;
    border-width: 1px; */

}

.mailBox-menu-header {
    grid-area: menu_header;
    background-color: #eeeeee;


    /* min-height: 40px; */
    /* text-align: center;
    align-items: center; */

}

.compose-btn {
    width: 142px;
    height: 38px;
    margin-left: 20px;
    color: #5f6368;
    font-weight: 600 ;
    border-color: #e2e2e2;
    background-color: #fff;
    border-radius: 10px 10px 10px 10px;
}

.compose-btn:hover {
    box-shadow: 2px 5px 5px 2px rgba(21, 21, 21, 0.44);
}
/*   e2e2e2  רקע*/

/*   d5d5d5     */

/*  5f6368 כיתוב     עריכת מייל */

.mailBox-side-menu {
    background-color: #eeeeee;

    text-align: left;
    grid-area: menu;
    gap: 20px;

    height: 900px;



}

.mailBox-main-list {
    grid-area: main;
    background-color: #fcfcfc;
    border-radius: 0 0 15px 15px;
    border-style: solid;
    border-width: 0.5px;
    border-top-width: 2px;
    border-color: rgb(205, 205, 205);


}

.mailBox-right {
    grid-area: right;
    /* background-color: #eeeeee; */
    background-color: #eeeeee;




}

.mailBox-footer {
    grid-area: footer;
    background-color: #eeeeee;

    /* height: 5px; */


}

.grid-container {
    display: grid;
    /*align-items: stretch ;/* normal|stretch|positional alignment|flex-start|flex-end|baseline|initial|inherit;*/
    /*grid-template-rows: auto 1fr auto auto auto;*/
    grid-template-rows: 50px 70px 1fr 30px;
    /*grid-template-rows: 40px auto 50px;*/
    grid-template-columns: 200px auto 5%;
    grid-template-areas:
        'header header header   '
        'menu_header buttons_header right'
        'menu main  right '
        /*  'footer footer  footer '; */
        'menu footer  right ';

    /* background-color: #fcfcfc; */
    background-color: #eeeeee;

    /*   background-color: #fffefe; */

}

.grid-container :is(span, div, header,
    /* aside, */
    main, footer) {
    /* background-color: #f7f7f7; */
    text-align: center;
    /* padding: 20px 0; */
    /*  font-size: 30px; */
    /*grid-template-rows: auto 1fr auto auto auto;*/

}

.grid-container :is(aside) {
    /*     background-color: #f7f7f7;*/
    background-color: #eeeeee;


}