/*  Basics */
@import "basics/base.css";
@import "basics/layout.css";
@import "basics/helpers.css";
@import "basics/animations.css"; 


/* Pages */
@import "./pages/home.css";


@import "./pages/email-index.css";

/* 
@import "./pages/email-details.css";
@import "./pages/email-edit.css"; 
 */
@import "./pages/about.css";

/* Components */
/*  @import "./cmps/email-list.css";
@import "./cmps/email-preview.css";
@import "./cmps/email-filter.css";
 */
@import "./cmps/email-folderlist.css"; 


@import "./cmps/app-header.css";

/*@import "./cmps/robot-filter.css";
@import "./cmps/robot-list.css";

@import "./cmps/robot-preview.css";
@import "./pages/robot-details.css";
@import "./pages/robot-edit.css";*/