.email-preview {
    display: flex;
    flex:1;
    flex-grow: 1;
    font-size: 1em;
    background: #faf8f9;
    color: rgb(68, 67, 67);
    border-bottom: 1px solid #ddd;
    padding: 7px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    
}

.email-line {
    display: flex;
     flex-grow: 1;
    align-items: flex-start;
    /* Align items to the start */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.email-preview .subject,
.email-preview .from,
.email-preview .sent-at {
    margin-right: 10px;
    /* font-weight: bold; */
}

.email-not-read {
    font-weight: bold;

}

.email-preview .from {
    min-width: 150px;
    /* Set a minimum width for the "From" field */
    max-width: 200px;
    /* Set a maximum width for the "From" field */
}

.email-preview .email-body {
    flex-shrink: 0;
    flex-grow: 2;
    min-width: 0;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 20px;
}

.email-preview .sent-at {
    margin-left: auto;
    /* Move the sent-at to the right */
}

.email-preview:hover {
    background-color: #ece6e6;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.icon {
    height: 20px;
    width: 20px;
    margin: 2px;
    cursor: pointer;
}